<h1><%=current_user.username%>'s list</h1>

<a class="btn btn-default" href="/countries/create" role="button">add COUNTRY</a>
<a class="btn btn-default" href="/cities/create" role="button">add CITY</a>

<%current_user.countries.all.each do |country|%>

  <h3><a href="/countries/<%=country.id%>"><%=country.name%></a></h3>

  <table class="table table-hover">
    <%country.cities.each do |city|%>
      <tbody class="container">
        <tr class="row">
          <th scope="row" class="col-md-6">
            <a href="/cities/<%=city.id%>"><%=city.name%></a>
          </th>
          <td class="col-md-6">
            <%city.rank.times do%>
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <%end%>
            <%(5 - city.rank).times do%>
              <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <%end%>
          </td>
        </tr>
      </tbody>
    <%end%>
  </table>

<%end%>
