<h1>Add Country</h1>

<%if flash.has?(:create_errors)%>
  <%flash[:create_errors].each do |err|%>
    <div class="alert alert-danger" role="alert">
      <%=err%>
    </div>
  <%end%>
<%end%>

<form action="/countries/create" method="post">
  <div class="form-group <%=flash[:country_name_error]%>">
    <label class="control-label" for="coutry_name">Country Name</label>
    <input class="form-control" type="text" name="country[name]" id="coutry_name" value="<%=@country_name_input%>">
  </div>

  <div class="form-group <%=flash[:country_region_error]%>">
    <label class="control-label" for="region">Region</label>
    <select class="form-control" name="country[region]" id="region" value="<%=@region_input%>">
      <option value="">Select Region</option>
      <option value="Africa">Africa</option>
      <option value="Americas">Americas</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>

  <h3>Add City (optional)</h3>

  <div class="form-group">
    <label class="control-label" for="city_name">City Name</label>
    <input class="form-control" type="text" name="city[name]" id="city_name" value="<%=@city_name_input%>">
  </div>

  <div class="form-group <%=flash[:city_rank_error]%>">
    <label class="control-label" for="rank">Rank (How much do you want to visit this city?)</label>
    <select class="form-control" name="city[rank]" id="rank" value="<%=@rank_input%>">
      <option value="">Select Rank</option>
      <option value="1">1 very</option>
      <option value="2">2</option>
      <option value="3">3 so-so</option>
      <option value="4">4</option>
      <option value="5">5 little</option>
    </select>
  </div>

  <input type="submit" value="Add">
</form>
