<h1>Edit Country</h1>

<%if flash.has?(:edit_errors)%>
  <%flash[:edit_errors].each do |err|%>
    <div class="alert alert-danger" role="alert">
      <%=err%>
    </div>
  <%end%>
<%end%>

<form action="/countries/<%=@country.id%>/edit" method="post">
  <div class="form-group <%=flash[:country_name_error]%>">
    <label class="control-label" for="coutry_name">Country Name</label>
    <input class="form-control" type="text" name="country[name]" id="coutry_name" value="<%=@country_name_input%>">
  </div>

  <div class="form-group <%=flash[:country_region_error]%>">
    <label class="control-label" for="region">Region</label>
    <select class="form-control" name="country[region]" id="region">
      <option value="">Select Region</option>
      <option value="Africa" <%=@region_africa%>>Africa</option>
      <option value="Americas" <%=@region_america%>>Americas</option>
      <option value="Asia" <%=@region_asia%>>Asia</option>
      <option value="Europe" <%=@region_europe%>>Europe</option>
      <option value="Oceania" <%=@region_oceania%>>Oceania</option>
    </select>
  </div>

  <input type="submit" value="Update">
</form>
