<h1><%=@country.name%></h1>

<a class="btn btn-default" href="/countries/<%=@country.id%>/edit" role="button">EDIT</a>
<a class="btn btn-default" href="/countries/<%=@country.id%>/delete" role="button">DELETE</a>

<h3>Region: <strong><%=@country.region%></strong></h3>

<h3>Cities</h3>

<table class="table table-hover">
  <%@country.cities.each do |city|%>
    <tbody class="container">
      <tr class="row">
        <th scope="row" class="col-md-6">
          <a href="/cities/<%=city.id%>"><%=city.name%></a>
        </th>
        <td class="col-md-6">
          <%city.rank.times do%>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <%end%>
          <%(5 - city.rank).times do%>
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          <%end%>
        </td>
      </tr>
    </tbody>
  <%end%>
</table>
