<ol class="breadcrumb">
  <li><a href="/user">Home</a></li>
  <li><a href="/countries">Countries</a></li>
  <li><a href="/countries/<%=@city.country.id%>"><%=@city.country.name%></a></li>
  <li class="active"><%=@city.name%></li>
</ol>

<h1><%=@city.name%></h1>

<a class="btn btn-default" href="/cities/<%=@city.id%>/edit" role="button">edit</a>
<a class="btn btn-default" href="/cities/<%=@city.id%>/delete" role="button">delete</a>

<h3><%=@city.country.name%></h3>

<h3>
  <%@city.rank.times do%>
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <%end%>
  <%(5 - @city.rank).times do%>
    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
  <%end%>
</h3>
