<!doctype html>
<html>
  <head>
    <title>To Visit List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>

  <body>
    <nav>

      <a class="navbar-brand" href="/">To Visit List</a>

      <% if logged_in? %>
        <div class="container">
          <p class="navbar-text">Signed in as <%=current_user.username%></p>
          <a href="/logout" class="btn btn-default navbar-btn btn-xs">Log out</a>
        </div>

        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li role="presentation" class=<%=@home_page%>><a href="/user">Home</a></li>
            <li role="presentation" class=<%=@countries_page%>><a href="/countries">Countries</a></li>
            <li role="presentation" class=<%=@cities_page%>><a href="/cities">Cities</a></li>
          </ul>
        </nav>


      <% else %>

        <div class="container">
          <a href="/login" class="btn btn-default navbar-btn btn-xs">Log in</a>
          <a href="/signup" class="btn btn-default navbar-btn btn-xs">Sign up</a>


        </div>

      <%end %>

    </nav>

    <div class="container">

        <%= yield %>

    </div>

    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
